/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

/* Issue: This text is currently hidden */
.hidden-text {
    display:contents;
    /* Fixed */
}

/* Items are currently stacked vertically */
.item {
    display: inline; /* Changed */
    padding-left: 10px;
    background-color: lightgreen;
    margin: 5px;
    /*width: 49%*/
}

.item2 {
    display: block; /* Changed */
    padding-left: 10px;
    background-color: rgb(194, 32, 54);
    margin: 5px;
    color: #ffffff
    /*width: 49%*/
}