/* Basic Page Styles */
body {
    font-family: var(--ffamily);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    /* Hardcoded white */
    color: #000000;
    /* Hardcoded black */
}

:root { 
    --primary-color: #d90000 ;
    /* Hardcoded red */
    --secondary-color: #ffffff;
    /* Hardcoded white */
    --text-color: #000000;
    /* Hardcoded black */
     --ffamily: Arial, sans-serif;
     --radius:5px;
     --navback: black;
}

.dark-mode {
    --primary-color: #3a5861;
    /* Hardcoded blue */
    --secondary-color: #000000;
    /* Hardcoded black */
    --text-color: #2c332a;
    /* Hardcoded white */
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    --font-size: 20px;
    --radius: 5px;
    --radius2: 5px;
    --navback: white;
}

/* Navigation Bar */
nav {
    background-color: var(--primary-color);
    /* Hardcoded red */
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    /* Hardcoded white */
    font-weight: bold;
}

nav ul li a:hover {
   background-color: var(--navback);
}

/* Header Section */
header {
    text-align: center;
    background-color: var(--primary-color);
    /* Hardcoded red */
    color: var(--secondary-color);
    /* Hardcoded white */
    padding: 40px 0;
}

header h1 {
    margin: 0;
}

.header-image {
    width: 100%;
    
}

/* Main Content */
.content {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: var(--secondary-color);
    /* Hardcoded white */
}

img {
    max-height:fit-content;
    width: 100%;
    
}

.box {
    width: 40%;
    padding: 20px;
    background-color: #fff3f3;
    /* Light red background */
    border: 2px solid var(--primary-color);
    /* Hardcoded red border */
    color: #d90000;
    /* Hardcoded red text */
    text-align: center;
    border-radius: var(--radius);
}

.range {
     border-radius: var(--radius);
}

.order {
    border-radius: var(--radius);
}

.box h2 {
    margin-top: 0;
}

.box p {
    color: var(--text-color);
    /* Hardcoded black text */
}

a.option {
    color: var(--primary-color);
    /* Hardcoded red */
    text-decoration: none;
    width: 50%;
}

/* Toggle Swich */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}